@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: Hackerchaos;
    src: url(../fontes/hackerchaos.otf);
    font-weight: normal;
}

/*----------------- 
      VARIÁVEIS
-------------------*/

:root {
    --cor01: #36ABD9;
    --cor02: #369AD9;
    --cor03: #011C40;
    --cor04: #011126;
    --cor05: #0D0D0D;
    --cor-fundo: #011c4054;

    --fonte-titulo01: "Bebas Neue", sans-serif;
    --fonte-titulo02: 'Hackerchaos', Arial;
    --fonte-titulo03: "Iosevka Charon Mono", monospace;
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
}

/*----------------- 
        GERAL     
-------------------*/

* {
    margin: 0px;
}

body {
    font-family: var(--fonte-padrão);
    background-color: var(--cor-fundo);
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    color: var(--cor04);
    font-size: 35px;
    font-family: var(--fonte-titulo01);
}

h3 {
    font-family: var(--fonte-padrão);
    font-style: italic;
}

/*----------------- 
        CARDS
-------------------*/

.card01 {
   display: flex; /* Deixar os elementos lado a lado */
   gap: 15px;     /* Distância entre eles*/

   width: 600px;
   padding: 10px;
   margin-bottom: 10px;

   border: 1px solid rgb(217, 216, 216);
   border-radius: 8px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.218);
}

.card01 img {
     width: 150px;
}

/*----------------- 
       MAIN
-------------------*/

main {
    min-width: 300px;
    max-width: 1000px;

    margin: auto;
    margin-bottom: 30px;
    padding: 15px 30px;
    

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*----------------- 
        TOPO   
-------------------*/

#topo {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    text-align: center;
    min-height: 150px;
    padding: 60px 60px 40px 60px;
}

#topo h1 {
    margin-bottom: 40px;
}

#topo p {
    color: #ffffff;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 2px;
}

.titulo {
    font-family: var(--fonte-titulo01);
    letter-spacing: 1px;
    color: #ffffff;    
}

.distorcido {
    font-family: var(--fonte-titulo02);
    letter-spacing: 10px;
    font-size: 70px;

    background: linear-gradient(to bottom, 
        var(--cor05),
        var(--cor03),
        var(--cor02),
        var(--cor03),
        var(--cor05));

    -webkit-background-clip: text;   /* Necessário para compatibilidade com alguns navegadores */
    background-clip: text;           /* Deixa o gradiente apenas no texto */
    
    -webkit-text-fill-color: transparent;  /* Necessário para compatibilidade com alguns navegadores */
    color: transparent;                    /* Tira a cor do texto para aparecer o gradiente*/

    background-size: 100% 400%;
    animation: cairDegrade 3s linear infinite;
}

.distorcido:hover {
    background-position: bottom;
}

@keyframes cairDegrade {
    from {
        background-position: 0% 200%;
    }
    to {
        background-position: 0% 0%;
    }
}

.subtitulo {
    font-family: var(--fonte-titulo03);
    font-weight: lighter;
    color: var(--cor02);
}

/*----------------- 
     NAVEGAÇÃO  
-------------------*/

#menu-principal {
    background-color: var(--cor05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.218);
    padding: 10px;
}

#menu-principal ul {
    /* Deixar os elementos lado a lado e centralizado*/
    justify-content: center;
    display: flex;
    gap: 80px;

    /* Tirar o estilo padrão da lista */
    list-style: none; 
    padding: 0px;
    margin: 0px;
}

#menu-principal a {
    color: #369bd96b;
    font-weight: bold;
}

#menu-principal a:hover {
    background-color: var(--cor02);
    transition: 0.6s;
    color: var(--cor04);

    padding: 10px;
    border-radius: 5px;
}


/*----------------- 
      PIONEIROS
-------------------*/

#layout-pioneiros {
    display: flex;
}

#layout-cards01 {
    flex-direction: column;
}

#pioneiros h2 {
    padding: 15px 0px;
}

.conteudo {
    display: flex;
    flex-direction: column; /* Deixar o conteúdo um embaixo do outro*/
}

.conteudo p {
    padding: 10px 0px;
}

aside {
    background-color: var(--cor02);
    padding: 40px;
    border-radius: 10px;
    margin: 10px 0px 10px 20px;

    text-align: center;   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.218); 
}

aside h4 {
    font-size: 20px;
    margin-bottom: 30px;
}

aside p {
    letter-spacing: 1px;
}

/*----------------- 
        BUGS
-------------------*/

#bugs {
    padding: 15px 0px;
}


#bugs h3{
    margin: 15px 0px;

}

#bugs p {
    margin: 10px 0px;
}

#bugs img {
    display: block;
    margin: auto;
    width: 700px;
}

.img-legenda {
    width: 700px;
    margin: auto;
}

.img-legenda figcaption {
    text-align: right;
    font-size: 14px;
    color: #555;
}

figcaption {
    font-style: italic;
    opacity: 0.8;
}

/*----------------- 
      INTERNET
-------------------*/

#internet {
    background-color: var(--cor02);
    padding: 10px 30px 25px 30px;
    margin: 15px 0px;
    border-radius: 15px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.218); 
}

#internet h2 {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1.2px;
    background-color: var(--cor03);
    margin: -10px -30px;
    padding: 8px 30px;
    border-radius: 15px 15px 0px 0px;
}

#internet h3 {
    margin: 25px 0px 10px 0px;
}


/*----------------- 
      INTERNET
-------------------*/

#layout-linguagens {
    display: flex;
    margin: 30px 0px 30px 40px;
    gap: 120px;
}

#layout-definicoes {
    flex-direction: column;
    margin-top: 20px;
}

#linguagens {
    background-color: var(--cor03);
    color: #ffffffd8;
    margin: 15px -30px;
    padding: 100px 30px 40px;
}

#linguagens h2 {
    color: #ffffffd8;
    margin-top: -60px;
}

#linguagens h3 {
    margin: 10px 0px;
}

#linguagens p {
    margin-bottom: 20px;
}


#linguagens td {
    padding: 10px 60px;
}

#linguagens caption {
    margin: 10px;
}

/*----------------- 
   LINHA DO TEMPO
-------------------*/

#linha-do-tempo h2{
    margin: 40px 0px;
}

.timeline{
    list-style: none;
    padding: 0px;
    margin: 0px;

    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: var(--cor03);
}


.timeline li {
    position: relative;

    padding-left: 50px;
    margin-bottom: 80px ;
}

.timeline li::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 5px;
    width: 15px;
    height: 15px;
    background-color: var(--cor03);
    border-radius: 50%;
}

.date {
    font-weight: bold;
    color: var(--cor02);
    display: block;
    margin-bottom: 5px;
}

/*----------------- 
      TOPO 02
-------------------*/

.topo2 header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    text-align: center;
    margin: 10px -30px;
    padding: 40px;
}

.titulo02 {
    font-family: var(--fonte-titulo01);
    letter-spacing: 1px;
    color: #ffffff;    
}

.distorcido02 {
    font-family: var(--fonte-titulo02);
    letter-spacing: 10px;
    font-size: 40px;

    background: linear-gradient(to bottom, 
        var(--cor05),
        var(--cor03),
        var(--cor02),
        var(--cor03),
        var(--cor05));

    -webkit-background-clip: text;   /* Necessário para compatibilidade com alguns navegadores */
    background-clip: text;           /* Deixa o gradiente apenas no texto */
    
    -webkit-text-fill-color: transparent;  /* Necessário para compatibilidade com alguns navegadores */
    color: transparent;                    /* Tira a cor do texto para aparecer o gradiente*/

    background-size: 100% 400%;
    animation: cairDegrade 3s linear infinite;
}

.distorcido02:hover {
    background-position: bottom;
}

@keyframes cairDegrade {
    from {
        background-position: 0% 200%;
    }
    to {
        background-position: 0% 0%;
    }
}

.subtitulo02 {
    color: var(--cor02);
    font-family: var(--fonte-titulo03);
}

.topo2 p {
    color: #ffffff;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 20px;
}

/*----------------- 
      NAVEGAÇÃO
-------------------*/

.nav02 {
    background-color: var(--cor02);
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    display: flex;
    width: fit-content; /* adapta ao conteúdo */
}

.nav02 ul {
    list-style: none;
    padding: 0;
    margin: 0;

    font-family: var(--fonte-titulo01);
    letter-spacing: 2px;
    align-items: center;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav02 li {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.nav02 a:hover {
    color: var(--cor03);
    font-weight: bolder;
    transition: 0.3s;
}

/*----------------- 
        NOMES
-------------------*/

.layout-nav02 {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}

#nomes {
    max-width: 700px;
}

#nomes p {
    margin: 10px;
}

/*----------------- 
       FOOTER
-------------------*/

footer {
    background-color: var(--cor04);
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

footer p {

}

footer address {
    
}
